$gray-500: #adb5bd;
$black:black;
// Theme colors
$primary: #605f7e;
$secondary: #f1f1f1;
$warning:#fcc61c;
$success:#16d500;
$info:#196eef;
$primary-light: lighten($primary, 46%);

// Theme Map
$theme-colors: ();
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "warning": $warning,
    "success": $success,
    "info": $info,
    "gray-500": $gray-500,
    "primary-light": $primary-light,
);
