.cards{
    figure{
        width: 100%;
        img{
            width: 100%;
        }
    }
}
.avatar-img{
    width: 60px;
}
.review-card{
    transition: all .3s ease-in-out;
    &:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
}