//for font-size
.font-xs {
    font-size: 12px;
}

.font-sm {
    font-size: 14px;
}

.font-md {
    font-size: 16px;
}

.font-lg {
    font-size: 18px;
}

.font-xl {
    font-size: 20px;
}
.font-xxl {
    font-size: 26px;
}
.font-icon{
    max-width: 18px;
}
.contact-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.font-weight-medium{
    font-weight: 500;
}